/* .inline {
  display: inline-block;
  border: 1px solid red;
  margin: 10px;
}
.floatoneline {
  width: 100px;
  height: 100px;
  border: solid 1px #ccc;
  float: left;
}
.pageHolder {
  overflow: auto;
} */
